<div class="box-content my-3">
    <div class="row">
      <div class="col-12 col-md-4 mt-3 mt-md-0">
        <div class="card-status" >
          <p>All transaction</p>
          <h1 class="count-num" style="color: #3564af">
            {{ 100 }}
          </h1>
        </div>
      </div>
      <div class="col-12 col-md-4 mt-3 mt-md-0">
        <div class="card-status" >
          <p>Error</p>
          <h1 class="count-num" style="color: #c86fb9">
            {{ 100 }}
          </h1>
        </div>
      </div>
      <div class="col-12 col-md-4 mt-3 mt-md-0">
        <div class="card-status" >
          <p>Inprogress</p>
          <h1 class="count-num" style="color: #ffc401">
            {{ 100 }}
          </h1>
        </div>
      </div>
      <div class="col-12 col-md-4 mt-3">
        <div class="card-status" >
          <p>Success</p>
          <h1 class="count-num" style="color: #5ad2ad">
            {{ 100 }}
          </h1>
        </div>
      </div>
      <div class="col-12 col-md-4 mt-3">
        <div class="card-status" >
          <p>Rejected</p>
          <h1 class="count-num" style="color: #f15e5e">
            {{ 100 }}
          </h1>
        </div>
      </div>
    </div>
  
  </div>